*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#000;
  font-family:Arial, sans-serif;
  overflow-x:hidden;
}

/* HERO SECTION */

.hero-section{
  min-height:100vh;

  background-image:
  linear-gradient(
    to right,
    rgba(0,0,0,0.95),
    rgba(0,0,0,0.65)
  ),

  url("https://images.unsplash.com/photo-1621605815971-fbc98d665033?q=80&w=1974&auto=format&fit=crop");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  display:flex;
  align-items:center;

  padding:100px;
}

/* TEXT */

.welcome-text{
  color:white;
  letter-spacing:3px;
  border-left:4px solid #dc3545;
  padding-left:12px;
  margin-bottom:25px;
}

.hero-title{
  font-size:95px;
  line-height:1.1;
  color:white;
  font-family:Georgia, serif;
}

.hero-title span{
  color:#dc3545;
}

.hero-description{
  color:#d5d5d5;
  font-size:22px;
  line-height:1.8;
  margin-top:25px;
  margin-bottom:40px;
  max-width:700px;
}

/* BUTTONS */

.hero-buttons{
  display:flex;
  gap:20px;
}

.primary-btn{
  background:#dc3545;
  color:white;
  text-decoration:none;
  padding:16px 28px;
  border-radius:6px;
  font-weight:bold;
  display:flex;
  align-items:center;
  gap:10px;
  transition:0.3s;
}

.primary-btn:hover{
  background:#bb2d3b;
}

.secondary-btn{
  border:1px solid white;
  color:white;
  text-decoration:none;
  padding:16px 28px;
  border-radius:6px;
  font-weight:bold;
  display:flex;
  align-items:center;
  gap:10px;
  transition:0.3s;
}

.secondary-btn:hover{
  background:white;
  color:black;
}

/* WHY SECTION */

.feature-icon{
  font-size:45px;
  color:#dc3545;
}

.card{
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  border-color:#dc3545 !important;
}

/* RESPONSIVE */

@media(max-width:992px){

  .hero-section{
    padding:60px 25px;
    text-align:center;
  }

  .hero-title{
    font-size:60px;
  }

  .hero-buttons{
    justify-content:center;
    flex-wrap:wrap;
  }

}

@media(max-width:576px){

  .hero-title{
    font-size:42px;
  }

  .hero-description{
    font-size:18px;
  }

}
.custom-navbar{
  background:rgba(0,0,0,0.92);
  backdrop-filter:blur(10px);
  border-bottom:1px solid rgba(255,255,255,0.08);
  padding:14px 0;
}

.logo-circle{
  width:52px;
  height:52px;
  border:3px solid #dc3545;
  border-radius:50%;
  color:#dc3545;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:900;
}

.brand-title{
  font-family:Georgia, serif;
  color:white;
}

.brand-subtitle{
  color:#dc3545;
  font-weight:700;
  text-transform:uppercase;
}

.nav-link{
  color:white !important;
  font-weight:600;
}

.nav-link:hover,
.nav-link.active{
  color:#dc3545 !important;
}